/* Project Aurora V4.0 */
/* 框架通用样式 */

@font-face {
    font-family: "Material Icons";
    src: url("../font/material-icons.woff2") format("woff2");
}

* { outline: none; }
body { font-family: Microsoft YaHei, "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
::selection{ background:#b3d4fc; text-shadow:none }

/* 全局变量 */
@media(min-width:651px){
    :root {
        --HeaderHeight: 300px;
        --MainBorderRadius: 20px;
        --MainVerticalMargin: 40px;
        --MainMaxWidth_PC: 750px;
        --MainWidthPercent_PC: 55%;
        --NavbarHeight: 40px;
    }
}
@media(max-width:650px){
    :root {
        --HeaderHeight: 260px;
        --MainBorderRadius: 0px;
        --MainVerticalMargin: 0px;
        --NavbarHeight: 40px;
    }
}

/* 通用样式 */

.Main {
    background: #fff;
}
@media(min-width:651px){
    .Main {
        width: var(--MainWidthPercent_PC);
        max-width: var(--MainMaxWidth_PC);
        margin: var(--MainVerticalMargin) auto;
        border-radius: var(--MainBorderRadius);
        box-shadow: 0 0px #e5e5e5, 0 0 15px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.05);
    }
}
@media(max-width:650px){
    .Main {
        width: 100%;
        margin: 0;
    }
}

.Header {
    position: relative;
    height: var(--HeaderHeight);
    border-radius: var(--MainBorderRadius) var(--MainBorderRadius) 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Navbar {
    position: sticky;
    top: 0;
    height: var(--NavbarHeight);
    background: #fff;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    z-index: 1001;
}
.Footer {
    padding: 20px 0;
    background: #fafafa;
    border-radius: 0 0 var(--MainBorderRadius) var(--MainBorderRadius);
}



/* 首页各标题 */

.HeaderTitleCenter {
    position: relative;
    padding-top: calc(var(--HeaderHeight) - 100px);
    line-height:34px;
    height: 34px;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #000000;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}
.HeaderSubtitleCenter {
    line-height:40px;
    height: 40px;
    padding-bottom: 20px;
    font-size: 13px;
    color:rgba(255,255,255,1);
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px #000000;
}
.HeaderTitleLeft {
    position: relative;
    line-height:34px;
    height: 34px;
    color: #ffffff;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000000;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
}
@media(min-width:651px){
    .HeaderTitleLeft {
        padding-top: calc(var(--HeaderHeight) - 70px);
        font-size: 28px;
        padding-left: 45px;
    }
}
@media(max-width:650px){
    .HeaderTitleLeft {
        padding-top: calc(var(--HeaderHeight) - 60px);
        font-size: 25px;
        padding-left: 30px;
    }
}

.HeaderTitleLeftVertLine{
    border: none;
    border-left: 5px solid rgba(255,255,255, 0.6);
    margin: 0 0 0 10px;
    padding:0 0 0 14px;
    height: inherit;
    vertical-align:text-top;
    font-weight: 200;
}
@media(min-width:651px){
    .HeaderTitleLeftVertLine {
        font-size: 23px;
        line-height: 42px;
    }
}
@media(max-width:650px){
    .HeaderTitleLeftVertLine {
        font-size: 20px;
        line-height: 36px;
    }
}







/* 左右边栏 */
.LeftAside {
    position: fixed;
    height: 100%;
    z-index: 99999;
}
.RightAside {
    position: fixed;
    height: 100%;
    z-index: 99999;
}

/* 按钮组件 */
.Button { border: none; cursor: pointer; }
.Flat { background-color: #fff; }
.Flat:hover { background-color: #eee; }
.Flat:active { background-color: #ccc; }
.Raised { background-color: #fff; box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1); }
.Raised:hover, .Raised:active { box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149); }
.Square { height: 30px; line-height: 30px; padding: 3px 10px; }
.Round { width: 40px; height: 40px; border-radius: 40px; line-height: 40px; }


/* 导航按钮组件 */
.NavbarItem {
    position: relative;
    height: var(--NavbarHeight);
    min-width: 60px;
    font-size: 14px;
    line-height: var(--NavbarHeight);
    padding: auto 15px;
    border: none;
    background-color: #ffffff;
    align-items: center;
}
.NavbarItem:hover { color: #00aaff; }
.NavbarItem[active="true"] { color: #00aaff; }
.NavbarItem[active="true"]:after {
    content: ".";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: rgba(0,0,0,0);
    box-shadow: inset 0 -3px #00aaff;
    animation: NavbarItemActiveAnimation 0.3s cubic-bezier(0.4, 0, 0.4, 1) 0s;
}
@keyframes NavbarItemActiveAnimation {
    0% { opacity: 0; width: 0; } to { opacity: 1; width: 100%; }
}
.InMenu { display: none; top: var(--NavbarHeight); }


/* 底部版权栏-渐变文字 */
.RBGradient { font-family: Verdana, Arial, sans-serif, Tahoma, "宋体", Microsoft YaHei; width: fit-content; width: -moz-fit-content; width: -webkit-fit-content; margin: 0 auto; font-weight: bold; background: linear-gradient(to right, rgb(255, 94, 134), rgb(210, 162, 255), rgb(36, 200, 255)); -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; }



/* 页面加载动效（骨架屏） */
.SkeletonPlaceholder { display: inline-block; background-color: #e0e0e0; color: rgba(0,0,0,0); border-radius: 3px; animation: SkeletonPlaceholderBlink 1s infinite; }
@keyframes SkeletonPlaceholderBlink { 0% { opacity: 0.3; } 12% { opacity: 0.45; } 25% { opacity: 0.65; } 37% { opacity: 0.85; } 50% { opacity: 1.0; } 62% { opacity: 0.85; } 75% { opacity: 0.65; } 82% { opacity: 0.45; } 100% { opacity: 0.3; } }
@media(min-width:651px){ .SkeletonPlaceholder { height: 18px; line-height: 18px; margin: 7px 0 7px 0; } }
@media(max-width:650px){ .SkeletonPlaceholder { height: 15px; line-height: 20px; margin: 7px 0; } }


/* 图片加载动效 */
.loading { position: relative; width: 100%; height: 0px; margin: 0 auto; text-align: center; }
.loading .dot { width: 10px; height: 10px; margin: 5px; background-color: #aaaaaa; border-radius: 100%; display: inline-block; animation: slide 1s infinite; }
.loading .dot:nth-child(1) { animation-delay: 0.1s; background-color: #faaacc; }
.loading .dot:nth-child(2) { animation-delay: 0.2s; background-color: #c8aacc; }
.loading .dot:nth-child(3) { animation-delay: 0.3s; background-color: #96aacc; }
.loading .dot:nth-child(4) { animation-delay: 0.4s; background-color: #acd0ff; }
.loading .dot:nth-child(5) { animation-delay: 0.5s; background-color: #88cfff; }
@keyframes slide { 0% { transform: scale(1); } 50% { opacity: 0.3; transform: scale(2); } 100% { transform: scale(1); } }

/* 进度条 */
.Progressbar { position: fixed; top: 0; left: 0; display: block; height: 3px; width: 5%; background: linear-gradient(to right, #88f1ff, #66ccff); }

