/* Project Aurora V4.0 */
/* 框架通用样式 */

@font-face {
    font-family: "Material Icons";
    src: url("../font/material-icons.woff2") format("woff2");
}

* { outline: none; }
body { font-family: Microsoft YaHei, "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
::selection{ background:#b3d4fc; text-shadow:none }

/* 全局变量 */
@media(min-width:651px){
    :root {
        --HeaderHeight: 300px;
        --MainBorderRadius: 20px;
        --MainVerticalMargin: 40px;
        --MainMaxWidth_PC: 750px;
        --MainWidthPercent_PC: 55%;
        --NavbarHeight: 40px;
        --MikumarkHorizontalPadding: 40px;
        --MikumarkBottomPadding: 30px;
    }
}
@media(max-width:650px){
    :root {
        --HeaderHeight: 260px;
        --MainBorderRadius: 0px;
        --MainVerticalMargin: 0px;
        --NavbarHeight: 40px;
        --MikumarkHorizontalPadding: 15px;
        --MikumarkBottomPadding: 30px;
    }
}

/* 通用样式 */

.Main {
    background: #fff;
}
@media(min-width:651px){
    .Main {
        width: var(--MainWidthPercent_PC);
        max-width: var(--MainMaxWidth_PC);
        margin: var(--MainVerticalMargin) auto;
        border-radius: var(--MainBorderRadius);
        box-shadow: 0 0px #e5e5e5, 0 0 15px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.05);
    }
}
@media(max-width:650px){
    .Main {
        width: 100%;
        margin: 0;
    }
}

.Header {
    position: relative;
    height: var(--HeaderHeight);
    border-radius: var(--MainBorderRadius) var(--MainBorderRadius) 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.Navbar {
    position: sticky;
    top: 0;
    height: var(--NavbarHeight);
    background: #fff;
    border-bottom: 0.5px solid #cccccc;
    text-align: center;
    z-index: 1001;
}
.Footer {
    padding: 20px 0;
    background: #fafafa;
    border-radius: 0 0 var(--MainBorderRadius) var(--MainBorderRadius);
}



/* 首页各标题 */

.HeaderTitleCenter { position: relative; padding-top: calc(var(--HeaderHeight) - 100px); line-height:34px; height: 34px; font-size: 25px; color: #ffffff; letter-spacing: 2px; text-shadow: 2px 2px 10px #000000; text-align: center; vertical-align: middle; font-weight: normal;}
.HeaderSubtitleCenter { line-height:40px; height: 40px; padding-bottom: 20px; font-size: 13px; color:rgba(255,255,255,1); letter-spacing: 2px; text-shadow: 3px 3px 5px #000000;}
.HeaderTitleLeft { position: relative; line-height:34px; height: 34px; color: #ffffff; letter-spacing: 2px; text-shadow: 2px 2px 5px #000000; vertical-align: middle; font-weight: bold; text-align: left;}
.HeaderTitleLeft:after { content:" / Project Aurora"; font-size: 19px; letter-spacing: 1px; color: rgba(255,255,255,0.9); text-shadow: 2px 2px 5px #000000; font-weight: 100;}
@media(min-width:651px){.HeaderTitleLeft { padding-top: calc(var(--HeaderHeight) - 70px); font-size: 28px; padding-left: 45px;}}
@media(max-width:650px){.HeaderTitleLeft { padding-top: calc(var(--HeaderHeight) - 60px); font-size: 25px; padding-left: 30px;}}


/* 左右边栏 */
.LeftAside { position: fixed; height: 100%; z-index: 99999;}
.RightAside { position: fixed; height: 100%; z-index: 99999;}

/* 按钮组件 */
.Button { border: none; cursor: pointer; }
.Flat { background-color: #fff; }
.Flat:hover { background-color: #eee; }
.Flat:active { background-color: #ccc; }
.Raised { background-color: #fff; box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1); }
.Raised:hover, .Raised:active { box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149); }
.Square { height: 30px; line-height: 30px; padding: 3px 10px; }
.Round { width: 40px; height: 40px; border-radius: 40px; line-height: 40px; }


/* 导航按钮组件 */
.NavbarItem { position: relative; height: var(--NavbarHeight); min-width: 60px; font-size: 14px; line-height: var(--NavbarHeight); padding: auto 15px; border: none; background-color: #ffffff; align-items: center;}
.NavbarItem:hover { color: #00aaff; }
.NavbarItem[active="true"] { color: #00aaff; }
.NavbarItem[active="true"]:after { content: "."; display: block; position: absolute; left: 0; top: 0; width: 100%; color: rgba(0,0,0,0); box-shadow: inset 0 -3px #00aaff; animation: NavbarItemActiveAnimation 0.3s cubic-bezier(0.4, 0, 0.4, 1) 0s;}
@keyframes NavbarItemActiveAnimation { 0% { opacity: 0; width: 0; } to { opacity: 1; width: 100%; }}
.InMenu { display: none; top: var(--NavbarHeight); }


/* 底部版权栏-渐变文字 */
.RBGradient { font-family: Verdana, Arial, sans-serif, Tahoma, "宋体", Microsoft YaHei; width: fit-content; width: -moz-fit-content; width: -webkit-fit-content; margin: 0 auto; font-weight: bold; background: linear-gradient(to right, rgb(255, 94, 134), rgb(210, 162, 255), rgb(36, 200, 255)); -webkit-text-fill-color: transparent; background-clip: text; -webkit-background-clip: text; }

/* 首屏加载遮罩 */
.FirstLoadingMask { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; padding-top: 200px; font-size: 20px; letter-spacing: 1px; color: #888; text-align: center; backdrop-filter: blur(2px); background-color: rgba(255,255,255,0.5); z-index: 99999;}

/* 页面加载动效（骨架屏） */
.SkeletonPlaceholder { display: inline-block; background-color: #e0e0e0; color: rgba(0,0,0,0); border-radius: 3px; animation: SkeletonPlaceholderBlink 1s infinite; }
@keyframes SkeletonPlaceholderBlink { 0% { opacity: 0.3; } 12% { opacity: 0.45; } 25% { opacity: 0.65; } 37% { opacity: 0.85; } 50% { opacity: 1.0; } 62% { opacity: 0.85; } 75% { opacity: 0.65; } 82% { opacity: 0.45; } 100% { opacity: 0.3; } }
@media(min-width:651px){ .SkeletonPlaceholder { height: 18px; line-height: 18px; margin: 7px 0 7px 0; } }
@media(max-width:650px){ .SkeletonPlaceholder { height: 15px; line-height: 20px; margin: 7px 0; } }


/* 图片加载动效 */
.loading { position: relative; width: 100%; height: 0px; margin: 0 auto; text-align: center; }
.loading .dot { width: 10px; height: 10px; margin: 5px; background-color: #aaaaaa; border-radius: 100%; display: inline-block; animation: slide 1s infinite; }
.loading .dot:nth-child(1) { animation-delay: 0.1s; background-color: #faaacc; }
.loading .dot:nth-child(2) { animation-delay: 0.2s; background-color: #c8aacc; }
.loading .dot:nth-child(3) { animation-delay: 0.3s; background-color: #96aacc; }
.loading .dot:nth-child(4) { animation-delay: 0.4s; background-color: #acd0ff; }
.loading .dot:nth-child(5) { animation-delay: 0.5s; background-color: #88cfff; }
@keyframes slide { 0% { transform: scale(1); } 50% { opacity: 0.3; transform: scale(2); } 100% { transform: scale(1); } }

/* 进度条 */
.Progressbar { position: fixed; top: 0; left: 0; display: block; height: 3px; width: 5%; background: linear-gradient(to right, #88f1ff, #66ccff); z-index: 99999; }

/****************************************/
/*  首 页 样 式 */
/****************************************/

.IndexItemContainer { margin: 5px 0 5px 0; text-align: center; border: none; line-height: 35px; font-size: 15px; color: #555555; }
.IndexItemContainer:after { content:''; display: block; padding-top: 5px; border-bottom: 1px solid #eaeaea; }
@media(min-width:651px) { /* Desktop */.IndexItemContainer:after { margin-left: 50px; }}
@media(max-width:650px) { /* Mobile */.IndexItemContainer:after { margin-left: 25px; }}
@media(min-width:651px) { /* Desktop */.IndexItemPaddingBox { margin: 0; padding: 8px 50px 8px 50px; background: transparent; }}
@media(max-width:650px) { /* Mobile */.IndexItemPaddingBox { margin: 0; padding:8px 25px 8px 25px; background: transparent; }}
.IndexItemTitle { font-size: 17px; line-height: 30px; text-align: left; font-weight: bold; color: #566666; vertical-align: middle; text-shadow: none; }
@media(min-width:651px) { /* Desktop */ .IndexItemTitle::before { content:attr(data-prefix); line-height: inherit; margin-right: 10px; padding-right: 10px; border-right: 5px solid rgba(0,0,0,0.1); color: #55c3dc; font-weight: normal; }}
@media(max-width:650px) { /* Mobile */ .IndexItemTitle::before { display: none; }}
.IndexItemTitleLink { letter-spacing: 1px; color:#555555; text-decoration:none; cursor: pointer; }
.IndexItemTitleLink:hover { color:#aaaaaa; text-decoration:none; }
.IndexItemTitleTag { display: inline-block; font-weight: normal; background-color: none; color: #93e76c; border: 1px solid #93e76c; border-radius: 5px; font-size: 9px; line-height: 15px; padding: 1px 3px; margin-left: 5px; vertical-align: middle; }
.IndexItemSummary { color: #bbb; text-align: left; padding: 7px 0 3px 0; font-size: 13px; font-weight: lighter; display: block; line-height: 23px; overflow-x: auto; }
.IndexItemTable { display: table; border-collapse: separate; border: none; border-spacing: 0; width: 100%; }
.IndexItemTableLeft { padding-right: 10px; }
@media(min-width:651px) { /* Desktop */ .IndexItemTableRight { width: 60px; }}
.IndexBottomLink { line-height: 40px; padding: 5px 0 10px 0; display: block; color: #8f8f8f; font-weight: bold; font-size: 16px; text-decoration: none; text-align: center; letter-spacing: 1px; cursor: pointer; }
.IndexBottomLink:hover { text-decoration: none; background-color: #fefefe; color:#68cce2; }

/****************************************/
/*  灵 感 样 式 */
/****************************************/

/* 灵感目录 */
.InspirationMenu { position: fixed; left: 0; top: 0; width: 360px; height: 100%; background-color: #fff; text-align: left; font-size: 14px; color: #80868b; border-right: 1px solid #eeeeee; overflow: auto; z-index: 9999;}
.InspirationMenu::-webkit-scrollbar { width: 5px; }
.InspirationMenu::-webkit-scrollbar-thumb { border-radius: 10px; background: #e0e0e0; }
.InspirationMenu::-webkit-scrollbar-track { border-radius: 0; background: #f5f5f5; }
.InspirationMenuToggle { font-family: "Material Icons"; width: 40px; height: 40px; position: fixed; top: 20px; left: 20px; text-align: center; font-size: 20px; z-index: 10000; cursor: pointer;}
.InspirationMenuTitleContainer { position: sticky; top: 0px; color: #696a6b; background-color: #fff; box-shadow: 0 0 5px #ccc; z-index: 9999;}
.InspirationMenuTitle { font-size: 22px; line-height: 80px; height: 80px; padding-left: 78px;}
#InspirationMenuTags { margin: 15px 0 25px 0; padding-left: 30px;}
.InspirationMenuTagItem { display: inline-block; background-color: #e1f5ff; color: #009be9; border: none; border-radius: 5px; font-size: 12px; padding: 2px 6px 2px 6px; margin: 3px; word-break: break-all; word-wrap: break-word; cursor: pointer;}
.InspirationMenuTagItem:hover, .InspirationMenuTagItem_active { color: #ff6893; background-color: #ffdfe8;}
.InspirationMenuTagItem_clear { background-color: #eeeeee; color: #a0a0a0;}
#InspirationMenuList { margin-top: 0; margin-bottom: 30px;}
.InspirationMenuItem { display: block; height: 40px; line-height: 40px; padding-left: 30px; cursor: pointer;}
.InspirationMenuItem:before { content: "❖"; padding-right: 10px;}
.InspirationMenuItem:hover, .InspirationMenuItem_active { color: #1a73e8; background: #e8f0fe; /*border-radius: 0 24px 24px 0;*/}
.InspirationMenuItemHrline { position: relative; margin: 18px 0 18px 0; border-bottom: 1px solid #dadce0; font-size: 13px; color: #1a73e8;}
/* 灵感页框架 */
.InspirationContainer { background: none; width: 100%; height: 100%;}
.InspirationEnding { text-align: center; font-size: 12px; letter-spacing: 2px; color: #bbbbbb; padding: 20px 0;}
/* Poster 样式 */
.Poster { margin: 0; padding: 10px 10px 10px 10px; border-bottom: 1px solid #e0e0e0; border-radius: 0; color: #666666; background-color: #ffffff; text-align: left; opacity:0.0;}
@media(min-width:651px){ /* Desktop */.Poster { padding: 20px 40px 20px 40px;}}
.PosterTitle { display: block; width: fit-content; width: -webkit-fit-content; width: -moz-fit-content; margin:3px 20px 0px 60px; padding:0; border-bottom: 1px dotted #dddddd; color:#498bb8; line-height: 26px; font-size:16px; letter-spacing: 1px; font-weight: bold;}
.PosterSubtitle { display: block; text-align: left; margin:0px 20px 8px 60px; padding:0; line-height: 21px; color:#aaaaaa; font-size:12px;}
.PosterAvater { float:left; position:relative; top:6px; left:6px; margin:0; padding:0; border-radius:50%; border: 0.5px solid #eeeeee; width:40px; height:40px;}
.Poster blockquote { font-size: 13px; line-height: 21px; color:#888888; margin:10px 10px 10px 10px; padding: 8px 10px; border: 1px solid #9ee0f8; border-radius: 5px; box-shadow: #c0ebfb 0 0 5px 0;}
.PosterParagraph { margin: 10px 5px 10px 6px; padding: 0; color: #666666; font-size: 14px; line-height: 23px; display: block; text-indent: 0;}
.PosterLink { color: #558bc4; text-decoration: none; cursor: pointer;}
.PosterLink:hover { color: #0066dd; text-decoration: none;}
.PosterTag { color: #00aaff; font-weight: bold;}

/****************************************/
/*  列 表 样 式 */
/****************************************/

.ListCategoryBlock { text-align: left; margin: 23px 0 30px 0; color: #222222; font-size: 15px; line-height: 17px; width: 100%; }
.ListCategoryBlockTitle { color: #66bbdd; margin: 10px 0 15px 0; padding-left: 20px; height: 38px; line-height: 38px; font-size: 18px; /*border-left: 8px solid #dddddd;*/ letter-spacing: 1px; font-weight: normal; background: linear-gradient(90deg, #f0faff, #fff); }
@media(min-width:651px){ /*Desktop*/.ListCategoryBlockTitle { padding-left: 50px; /*border-left: 18px solid #f0f0f0;*/ }}
.ListCategoryBlockTitle .ListCategoryBlockTitle_en { color: #bccccc; font-size: 12px; }
.ListItem { transition: background-color 0.2s ease-out 0s; vertical-align: text-top; padding: 9px 0; margin: 0px 20px; line-height: 19px; background-color: #ffffff; text-align: left; border-bottom: 1px dotted #eee; }
@media(min-width:651px){ /* Desktop */.ListItem { margin: 0px 50px; }}
.ListItemNumber { position: relative; top: 2px; text-align: center; font-size: 11px; line-height: 16px; margin-right: 8px; padding: 0px 5px 0px 5px; border-radius: 10px; vertical-align: top; background-color: #fff; border: 1px solid; }
.ListItemTag { line-height: inherit; background-color: #ffeaf0; color: #ff88a9; border: none; border-radius: 10px; font-size: 9px; padding: 1px 4px 1px 4px; margin-left: 5px; vertical-align: text-bottom; word-break: break-all; word-wrap: break-word; }
.ListItemDate { font-size: 12px; line-height: inherit; text-align: right; margin: 0 0 0 auto; float: right; color: #888888; }
.ListItemLink { color: #333333; text-decoration: none; cursor: pointer; }
.ListItemLink:hover { color: #333333; text-decoration: underline; }
.ListSortingOptionContainer { margin-top: 25px; padding-left: 20px; padding-right: 20px; line-height: 25px; font-size: 14px; color: #888888; text-align: center; }
@media(min-width:651px){ /* Desktop */.ListSortingOption { padding-left: 40px; padding-right: 40px; }}
.ListSortingOption { border: 1px solid #9dd9ff; color: #9dd9ff; cursor: pointer; }
.ListSortingOptionLeft  { padding: 4px 7px 4px 10px; border-radius: 8px 0 0 8px; }
.ListSortingOptionRight { padding: 4px 10px 4px 7px; border-radius: 0 8px 8px 0; border-left: none; }
.ListSortingOptionSelected { background-color: #9dd9ff; color: #fff; }
.ListEnding { text-align: center; font-size: 12px; color: #cccccc; margin: 20px auto 20px auto; }

/****************************************/
/*  Mikumark 文 章 页 和 目 录 样 式 */
/****************************************/

/* 文章标题：内部容器 */
.TitleContainer { position: absolute; border: none; width: 100%; height: var(--HeaderHeight); color: #ffffff; background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));}
.Title { color: #ffffff; line-height: 30px; text-align: left; letter-spacing: 2px; text-shadow: 2px 2px 10px #000000; font-weight: bold;}
@media(min-width:651px){
    .Title { padding-top: calc(var(--HeaderHeight) - 70px); margin-left: 0; margin-right: 0; width: 100%; font-size: 30px;}
    /* 标题：前部伪元素 */
    .Title:before { content: ""; border-right: 20px solid rgba(255,255,255,0.4); margin-right: 25px;}
    /* 标题：后部伪元素 */
    .Title:after { content:" / Project Aurora"; font-size: 16px; color: rgba(255,255,255,0.8); text-shadow: none; font-weight: normal;}
}
@media(max-width:650px){
    .Title { width: auto; padding-top: calc(var(--HeaderHeight) - 70px); text-align: center; font-size: 24px;}
    .Title:before, .Title:after { display:none;}
}

/* MD正文容器 */
.MikumarkContainer { text-align:left; background-color:#ffffff; padding: 0 var(--MikumarkHorizontalPadding) var(--MikumarkBottomPadding) var(--MikumarkHorizontalPadding);}

/* 元数据字段 */
.MikumarkMetadata { font-size: 13px; color: #bbbbbb; }
@media(min-width:651px){ .MikumarkMetadata { text-align: left; padding: 30px 0 30px var(--MikumarkHorizontalPadding); } }
@media(max-width:650px){ .MikumarkMetadata { text-align: center; padding:20px var(--MikumarkHorizontalPadding); } }

/* 仅移动端：顶部标题栏 */
@media(max-width:650px){
    .StickyTitle {position: fixed;top: 0;width: 100%;height: 40px;line-height: 40px;font-size: 16px;border: none;background-color: rgba(255,255,255,0.0);backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);color: #233333;font-weight: bold;text-align: center;word-spacing: 1px;z-index: 1000; }
    .StickyTitleBackground { position: fixed; top: 0; width: 100%; height: 40px; line-height: 40px; font-size: 16px; background-position: center center; background-repeat: no-repeat; background-size: auto; background: rgba(255, 255, 255, 0.99); border-bottom: 0.5px solid #dddddd; z-index: 999; }
}

/* Mobile后退按钮 */
@media(min-width:651px){ #BackButton { position: absolute; top: 20px; left: 0; } }
@media(max-width:650px){ #BackButton { float:left; position: fixed; top:0px; left:0px; width: 60px; height: 40px; padding-left:15px; text-align: left; line-height: 40px; background: none; border: none; box-shadow: none; cursor: pointer; } }

/* 菜单容器 */
@media(min-width:651px){
    .MenuContainer { width: 40px; height: 40px; top: 20px; right: 0; position: absolute; color: #222222; background-color: #ffffff; box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); transition: box-shadow 0.1s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1); border-radius: 50%; border: none; line-height: 40px; text-align: left; font-size: 13px; overflow: hidden; }
    .MenuContainer:hover, .MenuContainer:focus { box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149); }
}
@media(max-width:650px){
    .MenuContainer { height: 40px; width: 40px; position: absolute; right: 0; color: #222222; background-color: rgba(0,0,0,0); border: none; border-radius: 20px; line-height: 40px; text-align: left; font-size: 13px; overflow: hidden; }
}

/* 菜单按钮 */
@media(min-width:651px){
    .MenuButton { position: absolute; top: 0; right: 0; font-family: "Material Icons"; font-size: 20px; width: 40px; height: 40px; color: #666; background-color: #fff; transition: 0.1s linear; border-radius: 50%; border: none; line-height: 40px; text-align: center; cursor: pointer; }
    .MenuButton:hover { background-color: #f0f0f0; }
}
@media(max-width:650px){
    .MenuButton { position: absolute; top: 0; right: 0; margin: 0 0 auto auto; width: 40px; height: 40px; font-family: "Material Icons"; font-size: 23px; color: #222222; background: none; border: none; line-height: 40px; text-align: center; cursor: pointer; }
}

/* 菜单内部的导航栏 */
.StickyNavbar { position: sticky; position: -webkit-sticky; height: 80px; top: 0; margin: 0 0 0 0; text-align: center; vertical-align: -webkit-baseline-middle; color: #566666; background-color: #ffffff; font-size: 14px; border-bottom: 0.5px solid #dddddd; z-index: 1001; }
@media(max-width:650px){
    .StickyNavbar { background: none; }
}

/* 目录UL样式 */
.ContentsList { display: block; margin: 20px 0 20px 20px; color: #222222; padding-left: 2em; text-indent: 0; font-size: 14px; line-height: 24px; word-wrap:break-word; z-index: 100; }
.ContentsListItem { padding-left: 20px; text-indent: 0; font-size: 14px; margin-top: 0px; margin-bottom: 0px; display: block; line-height: 26px; font-weight: inherit; word-wrap: break-word; list-style-type: square; color: #333333; }
.ContentsItem { cursor: pointer; }
.ContentsItem:hover { text-decoration: underline; }
.ContentsItemActive { color: #00aaff; }

/* 目录内容容器 */
@media(min-width:651px){ #ContentsContainer { height: 520px; overflow: auto; } }
@media(max-width:650px){ #ContentsContainer { height: calc(100% - 80px); overflow: auto; } }

/****************************************/
/*  关 于 页 样 式 */
/****************************************/

.AboutTdLeft { text-align: right; font-weight: bold; padding-right:5px;}
.AboutTdRight { text-align: left; padding-left:5px;}
.AboutEdition { font-size: 14px; line-height: 25px; text-align: left; margin: 20px 50px 20px 50px; font-weight: normal;}
.AboutEdition .AboutVernum { text-align: center; font-weight: bold; margin-top: 10px; margin-bottom: 10px; line-height: 18px;}
.AboutVernum { margin-left: auto; margin-right: auto; width: fit-content; width: -webkit-fit-content; width: -moz-fit-content; border-bottom: 2px solid #cceeff;}
.AboutChangelog { color: #666666; text-align: center; line-height: 25px; margin-top: 10px; margin-bottom: 30px;}
.AboutLink { text-decoration: none; color: #222222; border-bottom: 1px dotted #222; cursor: pointer;}
.AboutLink:hover { color: #0066dd; text-decoration: none; border-bottom: 1px solid #0066dd;}
.AboutTitle{ text-align: center; font-size: 15px; color: #66bbdd; margin: 20px 0 20px 0; padding: 10px 0 10px 0; background: linear-gradient(90deg, #ffffff, #f0faff, #ffffff);}
.AboutSubtitle { font-size: 10px; font-weight: normal; color: #ccc; padding-top: 5px;}
.AboutContent { font-size: 14px; line-height: 25px; text-align: center; margin: 5px 0 5px 0; padding: 10px 10px 10px 10px; font-weight: normal;}
.AboutBlogrollTable { width: 100%; font-size: 14px; color:#888888; table-layout:fixed;}
.AboutBlogrollTable td { text-align: center; line-height: 22px; height: 36px;}
.AboutBlogrollTable a { font-size: 13px; text-decoration: none; color:#111111;}
.AboutBlogrollTable a:hover { color:#ff6893; border-bottom: 1px solid #ff6893;}
.AboutBlogrollTable td:first-child { padding-right: 15px; text-align: right;}
.AboutBlogrollTable td:last-child { padding-left: 15px; text-align: left;}
.AboutSeparator { color: #bababa; margin: 0 10px 0 10px;}
