/* Project Aurora V3.1*/
/* https://mikukonai.com/ */
/* 文章页CSS */

@font-face {
    font-family: "Material Icons";
    src: url("../font/material-icons.woff2") format("woff2");
}

:root {
    /*顶部菜单高度*/
    --top_height: 40px;
    /*标题题图高度*/
    --md_title_height: 240px;
}

* {
    outline: none;
    margin: 0;
    padding: 0;
}

body {
    line-height: 18px;
    font-size: 12px;
    margin: 0;
    font-family: Microsoft YaHei, "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection{
    background:#b3d4fc;
    text-shadow:none
}



/*****************************************/
/**************** 顶部标题 ****************/
/*****************************************/

/* 进度条 */
.progressbar {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 3px;
    width: 5%;
    background: linear-gradient(to right, #88f1ff, #66ccff);
}

.title {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: none;
    background-color: rgba(255,255,255,0.0);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: #233333;
    font-weight: bold;
    /* text-shadow: 1px 1px 5px #000000; */
    text-align: center;
    word-spacing: 1px;
    z-index: 200;
}

.title_bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    background: rgba(255, 255, 255, 0.99);
    border-bottom: 0.5px solid #dddddd;
    z-index: 199;
}







/*****************************************/
/*********** 菜单和目录相关的样式 **********/
/*****************************************/

.contents {
    display: none;
    position: fixed;
    /* margin: 0 0 0 0; */
    /* padding: var(--top_height) 0 0 0; */
    padding: 0;
    background: #ffffff/*rgba(0, 0, 0, 0.7)*/;
    color: #bbbbbb;
    width: 100%;
    /* max-height: 500px; */
    /* height: calc(100% - 40px); */
    height: 100%;
    z-index: 99;
    font-size: 13px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.contents::-webkit-scrollbar {
    display: none;
}


.top_sticky {
    position: sticky;
    position: -webkit-sticky;
    height: 80px;
    top: 0;
    /* padding-top: 40px; */
    margin: 0 0 0 0;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    color: #566666;
    background-color: #ffffff;
    font-size: 14px;
    border-bottom: 0.5px solid #dddddd;
    z-index: 1001;
}
.item_top {
    position: relative;
    top: 40px;
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-size: 14px;
    height: 40px;
    border: none;
    padding: 0 15px;
    background-color: transparent;
    color:#666666;
    text-decoration:none;
}
.top_active {
    display: inline-block;
    color: #50c5ff;/*#4284f3*/
}
.top_active:after {
    position: absolute;
    top:0;
    left:0;
    content: '';
    height: 37px;
    width: 100%;
    border-bottom: solid 3px #50c5ff;
    animation: border-grow .3s cubic-bezier(0.4,0,0.4,1) 0s;
}
@keyframes border-grow{0%{opacity:0;width:0;}to{opacity:1;width:100%;}}




.topBookmark {
    margin: 20px 0 20px 20px;
    color: #707070;
    z-index: 100;
}

.topBookmarkItem {
    padding-left: 20px;
    text-indent: 0;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    line-height: 26px;
    font-weight: inherit;
    word-wrap: break-word;
    list-style-type: square;
    color: #888888;
}

.topBookmarkLink {
    color: /*#eeeeee*/#333333;
    text-decoration: none;
    border: none;
}
.selected {
    color: #64ddff;
    text-decoration: none;
    border: none;
}
.topBookmarkLink:hover {
    color: #64ddff;
    text-decoration: none;
    border: none;
}

.horizon {
    height:2px;
    width:100%;
    background:linear-gradient(90deg, rgb(112, 44, 103), rgb(49, 144, 192));
    margin:0;
}

a.item_top {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    color:#ffffff;
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration:none;
}

.top_active {
    color:#66ccff;
}
.item_top:hover {
    color:#66ccff;
    text-decoration:none;
}
.bar {
    color: #888888;
    margin: 0 10px 0 8px;
}


.ButtonBack {
    float:left;
    position: fixed;
    top:0px;
    left:0px;
    width: 60px;
    height: 40px;
    padding-left:15px;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    background: none;
    border: none;
    text-shadow: 1px 1px 5px #000000;
    cursor: pointer;
    z-index: 100000;
}
.title_button_right {
    float:right;
    position: fixed;
    top:0px;
    right:0;
    width: 50px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
    background: none;
    border: none;
    border-radius: 5px;
    text-shadow: 1px 1px 5px #000000;
    cursor: pointer;
    z-index: 100000;
}

/***********************************************/
/** 菜单toggle按钮的动态图标 **/
/***********************************************/

.menu-toggle-bar-1-hor {
    height: 2px;
    width: 100%;
    background-color: #222222;
    position: relative;
    top: 0px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.menu-toggle-bar-2-hor {
    height: 2px;
    width: 100%;
    background-color: #222222;
    position: relative;
    top: 3px;
    margin: 0 auto 0 auto;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.menu-toggle-bar-3-hor {
    height: 2px;
    width: 100%;
    background-color: #222222;
    position: relative;
    top: 6px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.menu-toggle-bar-1-rot {
    height: 2px;
    width: 16.9px;
    background-color: #233333;
    position: relative;
    top: 0px;
    transform-origin: left;
    transform: translateY(-1px) rotateZ(+45deg);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.menu-toggle-bar-2-rot {
    height: 2px;
    width: 0%;
    background-color: #233333;
    position: relative;
    top: 3px;
    transform-origin: center;
    margin: 0 auto 0 auto;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.menu-toggle-bar-3-rot {
    height: 2px;
    width: 16.9px;
    background-color: #233333;
    position: relative;
    top: 6px;
    transform-origin: left;
    transform: translateY(+1px) rotateZ(-45deg);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}













.ButtonGoTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #222222;
    background-color: rgba(255,255,255,0.9);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
    border-radius: 50%;
    border: none;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    z-index: 1000;
    cursor: pointer;
}
.ButtonGoTop:focus, .ButtonGoTop:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}



/*****************************************/
/************** 图片加载动画 **************/
/*****************************************/

.loading {
    position: relative;
    width: 100%;
    height: 0px;
    margin: 0 auto;
    text-align: center;
}
.loading .dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #aaaaaa;
    border-radius: 100%;
    display: inline-block;
    animation: slide 1s infinite;
}
.loading .dot:nth-child(1) {
    animation-delay: 0.1s;
    /* background-color: #32c7cc; */
}
.loading .dot:nth-child(2) {
    animation-delay: 0.2s;
    /* background-color: #64c7cc; */
}
.loading .dot:nth-child(3) {
    animation-delay: 0.3s;
    /* background-color: #96aacc; */
}
.loading .dot:nth-child(4) {
    animation-delay: 0.4s;
    /* background-color: #c8aacc; */
}
.loading .dot:nth-child(5) {
    animation-delay: 0.5s;
    /* background-color: #faaacc; */
}
@-moz-keyframes slide {
    0% { transform: scale(1); }
    50% { opacity: 0.3; transform: scale(2); }
    100% { transform: scale(1); }
}
@-webkit-keyframes slide {
    0% { transform: scale(1); }
    50% { opacity: 0.3; transform: scale(2); }
    100% { transform: scale(1); }
}
@-o-keyframes slide {
    0% { transform: scale(1); }
    50% { opacity: 0.3; transform: scale(2); }
    100% { transform: scale(1); }
}
@keyframes slide {
    0% { transform: scale(1); }
    50% { opacity: 0.3; transform: scale(2); }
    100% { transform: scale(1); }
}




/*****************************************/
/******* 以下是template独有的样式 *********/
/*****************************************/

/* 圆角边框 */
.MainContainer {
    background-color: #ffffff;
}

/* 框内顶部标题 */
.Cover {
    height: var(--md_title_height);
    border: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* 标题：外部容器 */
.md-title {
    position: absolute;
    border: 0;
    color: #ffffff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}

/* 标题：内部容器 */
.Title {
    color: #ffffff;
    line-height: 30px;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #000000;
    font-weight: bold;
}

/* MD正文容器 */
.md-content {
    text-align:left;
    background-color:#ffffff;
}

/* 元数据字段 */
.md-metadata {
    font-size: 13px;
    color: #bbbbbb;
}

/* 底部版权栏 */
.CopyrightContainer {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 0px;
    padding: 25px 0 30px 0;
    margin: 20px 0 0 0;
    text-align: center;
    background-color: #fbfbfb;
}

/* 底部版权栏-文本内容 */
.Copyright {
    font-size: 10px;
    color: #888888;
    line-height: 18px;
    padding: 3px 0 3px 0;
}

/* 底部版权栏-渐变文字 */
.RBGradient {
    font-family: Verdana, Arial, sans-serif, Tahoma, "宋体", Microsoft YaHei;
    width: var(--pc_width_percent);
    max-width: var(--pc_max_width);
    margin: 0 auto 0 auto;
    font-weight: bold;
    background: linear-gradient(to right, violet 40%, #66ccff 60%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}




/* 加载动效 */
.loading-content {
    display: inline-block;
    background-color: #e0e0e0;
    color: rgba(0,0,0,0);
    border-radius: 3px;
    animation: blink 1s infinite;
}

/* 闪动效果 */
@keyframes blink {
    0% { opacity: 0.3; }
    12% { opacity: 0.45; }
    25% { opacity: 0.65; }
    37% { opacity: 0.85; }
    50% { opacity: 1.0; }
    62% { opacity: 0.85; }
    75% { opacity: 0.65; }
    82% { opacity: 0.45; }
    100% { opacity: 0.3; }
}



/* PC端：宽度大于651px的设备 */
@media(min-width:651px){
    :root {
        /* --top_height: 30px; */
        --md_title_height: 300px;
        --menu_title_height: 200px;
        --pc_max_width: 800px;
        --pc_width_percent: 65%;
        /*PC端MainContainer的上下margin*/
        --main_margin_vertical: 20px;
        /*版心左右边距*/
        --md_padding_horizontal: 40px;
    }


    .title {
        display: none;
    }
    .contents {
        position: fixed;
        width: 400px;
        top: 0px;
        right: 0px;
    }

    .MenuContainer {
        width: 40px;
        height: 40px;
        top: 60px;
        position: fixed;
        color: #222222;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
        border-radius: 50%;
        border: none;
        line-height: 40px;
        text-align: left;
        font-size: 13px;
        z-index: 999;
        overflow: hidden;
    }
    .MenuContainer:hover, .MenuContainer:focus {
        box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    }

    .contents_button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 0 auto auto;
        width: 40px;
        height: 40px;
        color: #222222;
        background-color: #ffffff;
        transition: background-color 0.5s;
        border-radius: 50%;
        border: none;
        line-height: 40px;
        text-align: center;
        font-size: 13px;
        z-index: 1000;
        cursor: pointer;
    }
    .contents_button:hover {
        background-color: #f0f0f0;
    }

    #contents_list {
        height: 520px;
        overflow: auto;
    }

    .ButtonBack {
        width: 40px;
        height: 40px;
        position: fixed;
        top: 60px;
        left: 20px;
        color: #222222;
        background-color: #ffffff;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        /* box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12); */
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
        transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
        border-radius: 50%;
        border: none;
        padding: 0;
        line-height: 40px;
        text-align: center;
        font-size: 13px;
        z-index: 1000;
        cursor: pointer;
    }
    .ButtonBack:hover, .ButtonBack:focus {
        box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
    }

    .contents_menu {
        width: 400px;
        /* padding: 0; */
        height: 45px;
        line-height: 45px;
    }




    .MainContainer {
        width: var(--pc_width_percent);
        max-width: var(--pc_max_width);
        margin: var(--main_margin_vertical) auto var(--main_margin_vertical) auto;
        padding: 0;
        box-shadow: 0 0px #e5e5e5, 0 0 15px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.05);
        border-radius: 20px;
        overflow: hidden;
    }

    .md-title {
        top: 0;
        width: var(--pc_width_percent);
        max-width: var(--pc_max_width); /*浮在main上面，大小与其保持一致*/
        height: var(--md_title_height);
        margin: var(--main_margin_vertical) auto auto auto;
    }

    .Title {
        padding-top: calc(var(--md_title_height) - 70px);
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        font-size: 30px;
    }
    /* 标题：前部伪元素 */
    .Title:before {
        content: "";
        border-right: 20px solid rgba(255,255,255,0.4);
        margin-right: 25px;
    }

    /* 标题：后部伪元素 */
    .Title:after {
        content:" / Project Aurora";
        /* margin-left: 10px; */
        font-size: 16px;
        color: rgba(255,255,255,0.8);
        text-shadow: none;
        font-weight: normal;
    }

    .md-content {
        padding: 0 var(--md_padding_horizontal) 0 var(--md_padding_horizontal);
    }

    .md-metadata {
        text-align: left;
        padding: 30px 0 30px 0;
    }


    .loading-content {
        height: 18px;
        line-height: 18px;
        margin: 7px 0 7px 0;
    }
}
/* 移动端：屏幕宽度小于650px */
@media(max-width:650px){
    :root {
        --top_height: 40px;
        --md_title_height: 240px;
        --md_padding_horizontal: 20px;
        --menu_title_height: 0px;
    }
    .MainContainer {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 0;
    }


    .MenuContainer {
        height: 40px;
        width: 40px;
        position: fixed;
        right: 0;
        color: #222222;
        background-color: rgba(0,0,0,0);
        border: none;
        border-radius: 20px;
        line-height: 40px;
        text-align: left;
        font-size: 13px;
        z-index: 999;
        overflow: hidden;
    }

    .top_sticky {
        background: none;
    }

    .contents_button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 0 auto auto;
        width: 40px;
        height: 40px;
        color: #222222;
        background: none;
        border: none;
        line-height: 40px;
        text-align: center;
        font-size: 13px;
        z-index: 1000;
        cursor: pointer;
    }
    #contents_list {
        height: calc(100% - 80px);
        overflow: auto;
    }




    .md-title {
        top: 0;
        height: var(--md_title_height);
        width: 100%;
    }

    .Title {
        width: auto;
        padding-top: calc(var(--md_title_height) - 70px);
        text-align: center;
        font-size: 24px;
    }
    .Title:before, .Title:after {
        display:none;
    }

    .md-content {
        padding: 0 var(--md_padding_horizontal) 0 var(--md_padding_horizontal);
    }

    .md-metadata {
        text-align: center;
        padding:20px var(--md_padding_horizontal) 20px var(--md_padding_horizontal);
    }

    .loading-content {
        height: 14px;
        line-height: 14px;
        margin: 5px 0 5px 0;
    }

}

