/* Project Aurora V4.0*/
/* 文章页CSS */

/* 全局变量 */
@media(min-width:651px){
    :root {
        --MikumarkHorizontalPadding: 40px;
        --MikumarkBottomPadding: 30px;
    }
}
@media(max-width:650px){
    :root {
        --MikumarkHorizontalPadding: 15px;
        --MikumarkBottomPadding: 30px;
    }
}

/* 文章标题：内部容器 */
.TitleContainer {
    position: absolute;
    border: none;
    width: 100%;
    height: var(--HeaderHeight);
    color: #ffffff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0));
}
.Title {
    color: #ffffff;
    line-height: 30px;
    text-align: left;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #000000;
    font-weight: bold;
}
@media(min-width:651px){
    .Title {
        padding-top: calc(var(--HeaderHeight) - 70px);
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        font-size: 30px;
    }
    /* 标题：前部伪元素 */
    .Title:before {
        content: "";
        border-right: 20px solid rgba(255,255,255,0.4);
        margin-right: 25px;
    }

    /* 标题：后部伪元素 */
    .Title:after {
        content:" / Project Aurora";
        /* margin-left: 10px; */
        font-size: 16px;
        color: rgba(255,255,255,0.8);
        text-shadow: none;
        font-weight: normal;
    }
}
@media(max-width:650px){
    .Title {
        width: auto;
        padding-top: calc(var(--HeaderHeight) - 70px);
        text-align: center;
        font-size: 24px;
    }
    .Title:before, .Title:after {
        display:none;
    }
}


/* MD正文容器 */
.MikumarkContainer {
    text-align:left;
    background-color:#ffffff;
    padding: 0 var(--MikumarkHorizontalPadding) var(--MikumarkBottomPadding) var(--MikumarkHorizontalPadding);
}


/* 元数据字段 */
.MikumarkMetadata { font-size: 13px; color: #bbbbbb; }
@media(min-width:651px){ .MikumarkMetadata { text-align: left; padding: 30px 0 30px var(--MikumarkHorizontalPadding); } }
@media(max-width:650px){ .MikumarkMetadata { text-align: center; padding:20px var(--MikumarkHorizontalPadding); } }


/* 仅移动端：顶部标题栏 */
@media(max-width:650px){
    .StickyTitle {position: fixed;top: 0;width: 100%;height: 40px;line-height: 40px;font-size: 16px;border: none;background-color: rgba(255,255,255,0.0);backdrop-filter: blur(20px);-webkit-backdrop-filter: blur(20px);color: #233333;font-weight: bold;text-align: center;word-spacing: 1px;z-index: 1000; }
    .StickyTitleBackground { position: fixed; top: 0; width: 100%; height: 40px; line-height: 40px; font-size: 16px; background-position: center center; background-repeat: no-repeat; background-size: auto; background: rgba(255, 255, 255, 0.99); border-bottom: 0.5px solid #dddddd; z-index: 999; }
}

/* Mobile后退按钮 */
@media(min-width:651px){ #BackButton { position: absolute; top: 20px; left: 0; } }
@media(max-width:650px){ #BackButton { float:left; position: fixed; top:0px; left:0px; width: 60px; height: 40px; padding-left:15px; text-align: left; line-height: 40px; background: none; border: none; box-shadow: none; cursor: pointer; } }


/*****************************************/
/*********** 菜单和目录相关的样式 **********/
/*****************************************/

/* 菜单容器 */
@media(min-width:651px){
    .MenuContainer { width: 40px; height: 40px; top: 20px; right: 0; position: absolute; color: #222222; background-color: #ffffff; box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); transition: box-shadow 0.1s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1); border-radius: 50%; border: none; line-height: 40px; text-align: left; font-size: 13px; overflow: hidden; }
    .MenuContainer:hover, .MenuContainer:focus { box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149); }
}
@media(max-width:650px){
    .MenuContainer { height: 40px; width: 40px; position: absolute; right: 0; color: #222222; background-color: rgba(0,0,0,0); border: none; border-radius: 20px; line-height: 40px; text-align: left; font-size: 13px; overflow: hidden; }
}

/* 菜单按钮 */
@media(min-width:651px){
    .MenuButton { position: absolute; top: 0; right: 0; font-family: "Material Icons"; font-size: 20px; width: 40px; height: 40px; color: #666; background-color: #fff; transition: 0.1s linear; border-radius: 50%; border: none; line-height: 40px; text-align: center; cursor: pointer; }
    .MenuButton:hover { background-color: #f0f0f0; }
}
@media(max-width:650px){
    .MenuButton { position: absolute; top: 0; right: 0; margin: 0 0 auto auto; width: 40px; height: 40px; font-family: "Material Icons"; font-size: 23px; color: #222222; background: none; border: none; line-height: 40px; text-align: center; cursor: pointer; }
}

/* 菜单内部的导航栏 */
.StickyNavbar { position: sticky; position: -webkit-sticky; height: 80px; top: 0; margin: 0 0 0 0; text-align: center; vertical-align: -webkit-baseline-middle; color: #566666; background-color: #ffffff; font-size: 14px; border-bottom: 0.5px solid #dddddd; z-index: 1001; }
@media(max-width:650px){
    .StickyNavbar { background: none; }
}

/* 目录UL样式 */
.ContentsList { display: block; margin: 20px 0 20px 20px; color: #222222; padding-left: 2em; text-indent: 0; font-size: 14px; line-height: 24px; word-wrap:break-word; z-index: 100; }
.ContentsListItem { padding-left: 20px; text-indent: 0; font-size: 14px; margin-top: 0px; margin-bottom: 0px; display: block; line-height: 26px; font-weight: inherit; word-wrap: break-word; list-style-type: square; color: #333333; }
.ContentsItem { cursor: pointer; }
.ContentsItem:hover { text-decoration: underline; }
.ContentsItemActive { color: #00aaff; }

/* 目录内容容器 */
@media(min-width:651px){ #ContentsContainer { height: 520px; overflow: auto; } }
@media(max-width:650px){ #ContentsContainer { height: calc(100% - 80px); overflow: auto; } }
